# Builds
.next/
dist/
build/
out/

# Dependencies
node_modules
.pnpm-store/

# Environment
.env
.env.local
.env.development
.env.test
.env.production

# Logs
*.log
npm-debug.log*

# Docker Local
.docker/

# Agents & Design Skills
.agents/
.impeccable/