# Dependencies
node_modules

# Build artifacts
dist
build
/coverage/

# IDE-specific files (e.g., VS Code, IntelliJ)
.idea
.vscode
*.iml
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Testing directories
.tap/